<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228922545435-d1m2a67g712a9vhvjtmk2qv7p4kqvus1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228922545435-d1m2a67g712a9vhvjtmk2qv7p4kqvus1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>228922545435-80o9h44121srjdrpcgv1mrp6rvk4upcj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyEseMbXqFZMHrecbhg3z1uUVvqF0aeVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>228922545435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.group1.petbook</string>
	<key>PROJECT_ID</key>
	<string>snout-371aa</string>
	<key>STORAGE_BUCKET</key>
	<string>snout-371aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228922545435:ios:4337a18f414c70d1ba6fbe</string>
</dict>
</plist>