<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654519231791-afb9uft3idvd19s8le6ufpgdpi81k8td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654519231791-afb9uft3idvd19s8le6ufpgdpi81k8td</string>
	<key>API_KEY</key>
	<string>AIzaSyC6zc2KRQQ7Lt6b--FR2Lz68wNer0XShgo</string>
	<key>GCM_SENDER_ID</key>
	<string>654519231791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.group1.petbook</string>
	<key>PROJECT_ID</key>
	<string>another-petbook</string>
	<key>STORAGE_BUCKET</key>
	<string>another-petbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654519231791:ios:91d5d16ef8ad997e772dda</string>
</dict>
</plist>